{%extends 'base.html'%} {% load bootstrap5 %} {% load static%} {% block content%}
<div class="container-fluid">
    <div class="center">
        <video autoplay loop muted="background">


        <source src="https://res.cloudinary.com/dpusync50/video/upload/v1650195559/neighbourhood_i4e252.mp4"></source>


    </video>
    </div>
    <div class="info">
     
        <h4  > Do you happen to be among the people who don't know what's happening in their neighbourhood?<br>
            What if an important meeting happens, theft or even death wouldn’t you like to know about it?<br>
            Well this is the site for you that allows you to be in the loop about everything happening in your neighbourhood.<br>
        </h4>
        <div  class="signs">
            <a style="margin-left: -500px;" href="/accounts/register"><button class="btn btn-primary btn-lg" role="button">SignUp </button></a>
            <a href="/accounts/login"><button class="btn btn-primary btn-lg" role="button">Login</button></a>


        </div>
    </div>
</div>
{%endblock%}